<ng-container *ngFor="let data of metadata.items">
		<tf-container 

			*ngIf = "(data.type == 'container')"
			#tfContainer					
			[metadata] = "data"
			
			[fxLayout] = "layout.fxLayout"
			[fxLayoutAlign] = "layout.fxLayoutAlign"
			[fxLayoutGap] = "layout.fxLayoutGap"
			
			[fxFlex] = "layout.fxFlex"
			[fxFlexOrder] = "layout.fxFlexOrder"
			[fxFlexOffset] = "layout.fxFlexOffset"
			[fxFlexAlign] = "layout.fxFlexAlign"
			

			[fxHide] = "fxHide"
			[fxShow] = "fxShow"

		></tf-container>
		<tf-textfield
			*ngIf="(data.type == 'textfield')"
			[metadata]="data"
		></tf-textfield>
		<tf-combofield
			*ngIf="(data.type == 'combofield')"
			[metadata]="data"
		></tf-combofield>
</ng-container>
